@{
    ViewData["Title"] = "Home Page";
}

<form action="/home/profesion">
    <label>Nombre:</label>
    <input type="text" name="nombre"><br><br>
    <label>Apellido:</label>
    <input type="text" name="apellido"><br><br>
    <input type="submit" value="generar">
</form>
