@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="get" action="obtenerDatos">
    <input name="nombre" type="text" />
    <input name="apellido" type="text" />
    <input name="Generar" type="submit" value="Generar" />
</form>

